@font-face {
  font-family: Graphik-Semibold;
  src: url(../assets/fonts/Graphik/Graphik-Semibold-Web.woff) format("woff"), url(../assets/fonts/Graphik/Graphik-Semibold-Web.woff2) format("woff2");
}

@font-face {
  font-family: Graphik-Medium;
  src: url(../assets/fonts/Graphik/Graphik-Medium-Web.woff) format("woff"), url(../assets/fonts/Graphik/Graphik-Medium-Web.woff2) format("woff2");
}

@font-face {
  font-family: TiemposHeadline-LightItalic;
  src: url(../assets/fonts/Tiempos/tiempos-headline-web-light-italic.eot) format("embedded-opentype"), url(../assets/fonts/Tiempos/tiempos-headline-web-light-italic.woff) format("woff"), url(../assets/fonts/Tiempos/tiempos-headline-web-light-italic.woff2) format("woff2");
}

@font-face {
  font-family: TiemposHeadline-Light;
  src: url(../assets/fonts/Tiempos/tiempos-text-web-regular.eot) format("embedded-opentype"), url(../assets/fonts/Tiempos/tiempos-text-web-regular.woff) format("woff"), url(../assets/fonts/Tiempos/tiempos-text-web-regular.woff2) format("woff2");
}

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.6);
  z-index: 1000;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.drawer.open {
  visibility: visible;
}

.drawer.open .drawer__content {
  overflow: auto;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.drawer__content {
  height: 100%;
  width: 100%;
  max-width: none;
  position: relative;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

@media only screen and (min-width: 680px) {
  .drawer__content {
    max-width: 450px;
  }
}

@media only screen and (min-width: 1020px) {
  .drawer__content {
    max-width: 620px;
  }
}

.drawer__content .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.drawer__img-wrapper {
  overflow: hidden;
  height: 50%;
}

@media only screen and (min-width: 680px) {
  .drawer__img-wrapper {
    height: 50%;
  }
}

@media only screen and (min-width: 1020px) {
  .drawer__img-wrapper {
    height: 50%;
  }
}

.drawer__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.drawer__description {
  background-color: #ffffff;
  padding: 35px 25px;
  height: auto;
  min-height: 50%;
}

@media only screen and (min-width: 1020px) {
  .drawer__description {
    padding: 50px;
    padding-top: 45px;
  }
}

@media only screen and (min-width: 1020px) {
  .drawer__description .caption__title {
    margin-bottom: 6px;
  }
}

.drawer__description .caption__description {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.27;
  letter-spacing: -0.75px;
}

@media only screen and (min-width: 1020px) {
  .drawer__description .caption__description {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.13;
    letter-spacing: -1px;
  }
}

@media only screen and (max-width: 679px) {
  .drawer__description .caption__description {
    margin-bottom: 20px;
  }
}

.drawer__description .skill__description {
  margin-bottom: 0;
}
/*# sourceMappingURL=drawer.css.map */