@font-face {
  font-family: Graphik-Semibold;
  src: url(../assets/fonts/Graphik/Graphik-Semibold-Web.woff) format("woff"), url(../assets/fonts/Graphik/Graphik-Semibold-Web.woff2) format("woff2");
}

@font-face {
  font-family: Graphik-Medium;
  src: url(../assets/fonts/Graphik/Graphik-Medium-Web.woff) format("woff"), url(../assets/fonts/Graphik/Graphik-Medium-Web.woff2) format("woff2");
}

@font-face {
  font-family: TiemposHeadline-LightItalic;
  src: url(../assets/fonts/Tiempos/tiempos-headline-web-light-italic.eot) format("embedded-opentype"), url(../assets/fonts/Tiempos/tiempos-headline-web-light-italic.woff) format("woff"), url(../assets/fonts/Tiempos/tiempos-headline-web-light-italic.woff2) format("woff2");
}

@font-face {
  font-family: TiemposHeadline-Light;
  src: url(../assets/fonts/Tiempos/tiempos-text-web-regular.eot) format("embedded-opentype"), url(../assets/fonts/Tiempos/tiempos-text-web-regular.woff) format("woff"), url(../assets/fonts/Tiempos/tiempos-text-web-regular.woff2) format("woff2");
}

.menu__button {
  border: none;
  border-radius: initial;
  background-color: transparent;
  padding: 0;
  height: 22px;
  width: 25px;
  position: relative;
  outline: none;
}

@media only screen and (min-width: 680px) {
  .menu__button {
    display: none;
  }
}

.menu__button:hover {
  background-color: transparent;
}

.menu__button--open {
  position: absolute;
  -webkit-transition: width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu__button--close {
  position: absolute;
  -webkit-transition: width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__button img {
  top: 0;
  left: 0;
  margin-top: 5px;
}

.menu__button img:first-child {
  margin-top: 0;
}

.menu__icon-dark {
  display: none;
}

.menu__wrapper {
  visibility: hidden;
  position: fixed;
  top: 82px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (min-width: 680px) {
  .menu__wrapper {
    display: block;
    position: static;
    opacity: 1;
    background-color: transparent;
    visibility: visible;
  }
}

.menu__list {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 25px 0 25px 30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media only screen and (min-width: 680px) {
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu__item {
  margin-bottom: 15px;
  font-family: Graphik-Semibold, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 680px) {
  .menu__item {
    margin: 0 30px 0 0;
  }
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  border: none;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}

@media only screen and (max-width: 679px) {
  .menu__link {
    letter-spacing: -1.75px !important;
  }
}

@media only screen and (min-width: 680px) {
  .menu__link {
    font-size: 18px;
    line-height: unset;
    letter-spacing: -0.2px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1020px) {
  .menu__link {
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.25px;
  }
}

.menu__social {
  list-style: none;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media only screen and (min-width: 680px) {
  .menu__social {
    display: none;
  }
}

.menu__social-item {
  margin-right: 30px;
}

.menu__social-item:last-child {
  margin: 0;
}

.menu .menu button {
  border: none !important;
}

.menu .menu button:hover {
  border: none !important;
}

.menu.open .menu__button {
  outline: none;
}

.menu.open .menu__button--open {
  position: absolute;
  -webkit-transition: width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu.open .menu__button--close {
  position: absolute;
  -webkit-transition: width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu.open .menu__list {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu.open .menu__social {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu.open .menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=menu.css.map */