@import "mixins";
@import "variables";

.video-container{
  width: 100%;
}
.video, .details-image__wrapper_video, .js-load-video {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: auto;

  iframe {
    animation-fill-mode: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.js-load-video {
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  a{
    position: absolute;
    z-index: 1;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    content: '';
    background: url(../assets/images/play-button.svg) no-repeat;
    width: 100px;
    height: 100px;
    border-bottom: none;
    background-size: cover;
    cursor: pointer;
  }
}

body {
  overflow-x: hidden;

}

p, h1 {
  margin: 0;
}

.details-image__caption {
  letter-spacing: normal;
  font-size: 18px !important;
  @include respond-to(desktop) {
    font-size: 22px !important;
  }

  a {
    font-size: 18px !important;
    vertical-align: initial !important;
    @include respond-to(desktop) {
      font-size: 22px !important;
    }
  }
}

.current_page_item a {
  border-bottom: 2px solid #f4562f;
}

.extended-services__item {
  font-family: Graphik-Medium, sans-serif;
}

.related-technology__link {
  font-family: Graphik-Medium, sans-serif;
}

/*.more-work {
  padding-top: 40px;
  margin-bottom: 45px;
  @include respond-to(desktop) {
    margin-bottom: 95px;
    padding-top: 95px;
  }
}
*/

/*
.footer {
  padding: 45px 25px;
  @include respond-to(desktop) {
    padding: 0;
  }
}

.sponsors__description {
  text-align: center;
  font-family: TiemposHeadline-Light;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  max-width: 890px;
  padding: 45px 0;
  @include respond-to(tablets) {
    font-size: 30px;
    max-width: 890px;
    padding: 0;
  }
  @include respond-to(desktop) {
    font-size: 30px;
    max-width: 890px;
    padding: 0;
  }

}



.about__header h1 {
  text-align: center;
  margin: 35px 0;
  margin-bottom: 35px;
  @include respond-to(desktop) {
    margin: 95px 0;
    margin-bottom: 40px;
  }
}



.about {
  padding-bottom: 45px;
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 45px;
  @include respond-to(desktop) {
    padding-bottom: 95px;
    border-bottom: 1px solid $lightGrey;
    margin-bottom: 95px;
  }
}

.service-carousel__title{
  font-size: 18px;
  line-height: 1.36;
  @include respond-to(desktop) {

    font-size: 22px;
    line-height: 1.55;
  }
}
.service-carousel__description{
  font-size: 22px;
  line-height: 1.27;
  @include respond-to(desktop) {
    font-size: 27px;
    line-height: 1.26;
  }
}
*/
.about__description {
  margin-top: 35px;
  padding-right: 0;
  @include respond-to(tablets) {
    margin-top: 0px;
    padding-right: 25px;
  }
  @include respond-to(desktop) {
    padding-right: 50px;
  }
}

h1 {
  em {
    font-family: $italicFont;
    font-weight: 300;
    font-style: inherit;
  }
}

.about-social {
  margin-top: 20px;
}

.wpcf7-not-valid {
  border-color: #f4562f;
}

.not-valid + .form__input-message {
  display: block;
}

.wpcf7-not-valid-tip {
  display: none;
}

.contact__form_thanks {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;

  .form_thanks-form {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
  }

  .form_thanks-text {
    font-family: Graphik-Medium, sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }

  &.block {
    display: flex;
  }
}

@media only screen and (max-width: 679px) {
  .current_page_item a {
    border-bottom: none;
  }
}

.embed-video {
  a {
    top: calc(50% - 50px) !important;
    left: calc(50% - 50px) !important;
    box-shadow: none !important;
  }
}

.links-group-par {
  font-family: TiemposHeadline-Light;
  font-family: TiemposHeadline-LightItalic, sans-serif
}

.details-image__caption {
  a {
    &:hover {
      color: #f4562f;
    }

    span {
      &:hover {
        color: #f4562f;
      }
    }
  }
}

.about__description {
  a {
    &:hover {
      color: #f4562f;
    }

    span {
      &:hover {
        color: #f4562f;
      }
    }
  }
}

.wpcf7-response-output {
  display: none !important;
}

.about-images {
  .details-image__caption {
    max-width: none;
    @include respond-to(tablets) {
      max-width: 302px;
      line-height: 30px;
      a {
        line-height: 30px;
      }
    }
    @include respond-to(desktop) {
      max-width: none;
    }
  }
}

.details-image {
  .details-image__caption {
    margin-top: 15px;
  }
}

.about__description {
  a {
    @include respond-to(tablets) {
      font-size: 19px;
      line-height: 28px;
    }
    @media only screen and (max-width: 679px) {
      font-size: 19px;
      line-height: 28px;
    }
    @include respond-to(desktop) {
      font-size: 22px;
      line-height: 34px;
    }
  }
}

.about {
  .about__title {
    @include respond-to(tablets) {
      padding-right: 25px;
    }
    @include respond-to(desktop) {
      padding-right: 50px;
    }
  }

  .about__description {
    @media only screen and (max-width: 679px) {
      margin-top: 20px;
    }
  }
}

.about__description {
  font-family: TiemposHeadline-Light;

  span {
    display: contents;
  }
}

.about .social-links .social-link {
  margin-right: 25px !important;
}