@charset "UTF-8";
@font-face {
  font-family: Graphik-Semibold;
  src: url(../assets/fonts/Graphik/Graphik-Semibold-Web.woff) format("woff"), url(../assets/fonts/Graphik/Graphik-Semibold-Web.woff2) format("woff2");
}

@font-face {
  font-family: Graphik-Medium;
  src: url(../assets/fonts/Graphik/Graphik-Medium-Web.woff) format("woff"), url(../assets/fonts/Graphik/Graphik-Medium-Web.woff2) format("woff2");
}

@font-face {
  font-family: TiemposHeadline-LightItalic;
  src: url(../assets/fonts/Tiempos/tiempos-headline-web-light-italic.eot) format("embedded-opentype"), url(../assets/fonts/Tiempos/tiempos-headline-web-light-italic.woff) format("woff"), url(../assets/fonts/Tiempos/tiempos-headline-web-light-italic.woff2) format("woff2");
}

@font-face {
  font-family: TiemposHeadline-Light;
  src: url(../assets/fonts/Tiempos/tiempos-text-web-regular.eot) format("embedded-opentype"), url(../assets/fonts/Tiempos/tiempos-text-web-regular.woff) format("woff"), url(../assets/fonts/Tiempos/tiempos-text-web-regular.woff2) format("woff2");
}

.intro {
  height: calc(var(--vh, 1vh) * 85) !important;
}

.container {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (min-width: 680px) {
  .container {
    max-width: 680px;
  }
}

@media only screen and (min-width: 1020px) {
  .container {
    max-width: 1370px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.header {
  position: absolute;
  max-width: 1370px;
  margin: 0 auto;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.intro {
  background-image: url(../assets/images/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  max-width: none;
  margin-bottom: 45px;
}

@media only screen and (min-width: 680px) {
  .intro {
    height: 600px;
  }
}

@media only screen and (min-width: 1020px) {
  .intro {
    height: 900px;
    margin-bottom: 90px;
  }
}

.intro__video-container {
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.intro .arrow-down {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1020px) {
  .intro .arrow-down {
    bottom: 50px;
  }
}

.about {
  margin-bottom: 45px;
}

@media only screen and (min-width: 680px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1020px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1370px;
    margin: 0 auto 95px;
  }
}

@media only screen and (min-width: 680px) {
  .about__title, .about__description {
    width: 48%;
  }
  .about__title p, .about__description p {
    margin-top: 0;
  }
}

.about__title {
  font-family: Graphik-Medium, sans-serif;
}

.about__title--large {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.27;
  letter-spacing: -0.75px;
}

@media only screen and (min-width: 1020px) {
  .about__title--large {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.13;
    letter-spacing: -1px;
  }
}

.about__description .body-large {
  margin-bottom: 20px;
}

@media only screen and (min-width: 680px) {
  .about__description .body-large {
    margin-top: 0;
  }
}

.about__link {
  margin-right: 30px;
}

@media only screen and (min-width: 680px) {
  .about__link {
    display: inline-block;
  }
}

.about__quote {
  font-family: TiemposHeadline-LightItalic, sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  font-size: 30px;
  line-height: 1.27;
  position: relative;
}

@media only screen and (min-width: 680px) {
  .about__quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
  }
}

@media only screen and (min-width: 1020px) {
  .about__quote {
    line-height: 1.09;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 55px;
  }
}

.about__quote:before {
  content: '“';
  position: absolute;
  top: -50px;
  font-family: TiemposHeadline-LightItalic, sans-serif;
}

@media only screen and (min-width: 680px) {
  .about__quote:before {
    top: 0;
    left: -25px;
  }
}

@media only screen and (min-width: 1020px) {
  .about__quote:before {
    top: 0;
    left: -40px;
  }
}

.about__quote p {
  margin: 0;
  max-width: 1120px;
}

.about__quote p:first-child {
  margin-right: 0px;
}

.about__quote-author {
  font-family: Graphik-Medium, sans-serif;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: -0.25px;
  font-size: 18px;
  padding-top: 35px;
}

@media only screen and (min-width: 1020px) {
  .about__quote-author {
    font-size: 22px;
    padding: 45px 0 0 0;
  }
}

.about.quote {
  display: block;
  padding: 87px 25px 45px;
  border: 1px solid #d8d8d8;
}

@media only screen and (min-width: 680px) {
  .about.quote {
    padding: 40px 25px 40px 50px;
    margin-bottom: 45px;
  }
}

@media only screen and (min-width: 1020px) {
  .about.quote {
    padding: 45px 45px 45px 80px;
    margin-bottom: 95px;
  }
}

@media only screen and (min-width: 680px) {
  .about .title {
    max-width: 560px;
  }
}

@media only screen and (min-width: 680px) {
  .about .title {
    margin-bottom: 45px;
  }
}

.about .title__title {
  margin: 0;
  font-family: TiemposHeadline-LightItalic, sans-serif;
  font-size: 22px;
  line-height: 34px;
}

@media only screen and (min-width: 1020px) {
  .about .title__title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
  }
}

.about .title__subtitle {
  margin: 0 0 45px;
  font-family: Graphik-Medium, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.13;
  letter-spacing: -1.14px;
}

@media only screen and (min-width: 680px) {
  .about .title__subtitle {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.27;
    letter-spacing: -0.75px;
  }
}

@media only screen and (min-width: 1020px) {
  .about .title__subtitle {
    font-size: 55px;
    font-weight: 600;
    line-height: 1.09;
    letter-spacing: -1.5px;
  }
}

.about .social-links {
  padding-top: 20px;
  border-top: 1px solid #d8d8d8;
  margin-bottom: 35px;
}

.about .social-links .social-link {
  vertical-align: initial;
  margin-right: 30px;
}

.about .social-links .social-link:last-child {
  margin-right: 0;
}

.about .details-image {
  width: 100%;
}

.about .details-image__wrapper {
  width: 100%;
  max-height: none;
  max-width: none;
}

@media only screen and (min-width: 680px) {
  .about .details-image__wrapper {
    max-height: 354px;
    max-width: 630px;
  }
}

@media only screen and (min-width: 1020px) {
  .about .details-image__wrapper {
    max-height: 714px;
    max-width: 1270px;
  }
}

.about .details-image__image {
  height: auto;
  width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 680px) {
  .about .details-image__image {
    height: auto;
  }
}

.about .details-image__caption {
  margin-top: 10px;
}

@media only screen and (min-width: 680px) {
  .about .details-image__caption__caption {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1020px) {
  .about .details-image__caption__caption {
    font-size: 22px;
  }
}

.about .carousel {
  position: relative;
}

.about .carousel__controls {
  width: 100%;
  position: absolute;
  bottom: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (min-width: 680px) {
  .about .carousel__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 680px) {
  .about .carousel__controls-slides {
    display: block;
  }
}

.about .carousel__image-wrapper {
  overflow: hidden;
}

@media only screen and (min-width: 680px) {
  .about .carousel__image-wrapper {
    width: auto;
    height: auto;
    max-width: initial;
  }
}

@media only screen and (min-width: 680px) {
  .about .carousel__image-wrapper {
    max-height: 770px;
  }
}

@media only screen and (min-width: 680px) {
  .about .carousel__image {
    height: auto;
    max-width: 100%;
  }
}

@media only screen and (min-width: 680px) {
  .about-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about-images .details-image {
  margin-bottom: 45px;
}

@media only screen and (min-width: 680px) {
  .about-images .details-image {
    margin: 0 0 45px;
    width: 48%;
  }
}

@media only screen and (min-width: 1020px) {
  .about-images .details-image {
    margin-bottom: 95px;
  }
}

.about-images .details-image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: none;
  max-height: 244px;
}

@media only screen and (min-width: 680px) {
  .about-images .details-image__wrapper {
    max-height: 226px;
    max-width: 302px;
  }
}

@media only screen and (min-width: 1020px) {
  .about-images .details-image__wrapper {
    max-height: 460px;
    max-width: none;
    height: 34vw;
    width: 100%;
  }
}

.about-images .details-image__image {
  height: 244px;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 680px) {
  .about-images .details-image__image {
    height: auto;
  }
}

@media only screen and (min-width: 1020px) {
  .about-images .details-image__image {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 680px) {
  .about-images .details-image__caption {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1020px) {
  .about-images .details-image__caption {
    font-size: 22px;
  }
}

.related-technology {
  padding-top: 45px;
  padding-bottom: 26px;
  border-top: none !important;
  position: relative;
}

.related-technology:before {
  position: absolute;
  content: "";
  top: 0;
  height: 1px;
  width: 100vw;
  background: #d8d8d8;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

@media only screen and (min-width: 1020px) {
  .related-technology {
    padding-bottom: 74px;
    padding-top: 95px;
  }
}

.related-technology h3 {
  margin: 0 0 45px;
}

@media only screen and (min-width: 1020px) {
  .related-technology h3 {
    text-align: center;
    margin: 0 0 95px;
  }
}

.related-technology__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 680px) {
  .related-technology__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.related-technology__item {
  padding: 15px 0;
  border-top: 1px solid #d8d8d8;
}

@media only screen and (min-width: 680px) {
  .related-technology__item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media only screen and (min-width: 1020px) {
  .related-technology__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.related-technology__link {
  border: none;
  letter-spacing: -0.25px;
  font-weight: 500;
}

.more-work {
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: none !important;
  position: relative;
}

.more-work:before {
  position: absolute;
  content: "";
  top: 0;
  height: 1px;
  width: 100vw;
  background: #d8d8d8;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

@media only screen and (min-width: 680px) {
  .more-work {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 1020px) {
  .more-work {
    padding-bottom: 95px;
    padding-top: 95px;
    margin-bottom: 0;
  }
}

.more-work h3 {
  margin: 0 0 45px;
}

@media only screen and (min-width: 1020px) {
  .more-work h3 {
    text-align: center;
    margin: 0 0 95px;
  }
}

.more-work .services__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 680px) {
  .more-work .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.more-work .services__item {
  margin-bottom: 45px;
}

@media only screen and (min-width: 680px) {
  .more-work .services__item {
    width: 48%;
  }
}

@media only screen and (min-width: 1020px) {
  .more-work .services__item {
    width: 32%;
    max-width: 390px;
  }
}

.more-work .services__item:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 680px) {
  .more-work .services__item:last-child {
    display: none;
  }
}

@media only screen and (min-width: 1020px) {
  .more-work .services__item:last-child {
    display: block;
  }
}

.more-work .item__img-wrapper {
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media only screen and (min-width: 680px) {
  .more-work .item__img-wrapper {
    height: 100%;
    max-height: 226px;
  }
}

@media only screen and (min-width: 1020px) {
  .more-work .item__img-wrapper {
    max-height: 292px;
    max-width: 390px;
    margin: 0;
  }
}

.more-work .item__image {
  max-height: 100%;
}

@media only screen and (min-width: 1020px) {
  .footer {
    padding-top: 95px;
    margin-top: 0;
  }
}

.header {
  position: fixed !important;
}

.footer {
  margin-top: 0 !important;
}

.menu-item-363 a {
  border-bottom: 2px solid white;
}

.sticky .menu-item-363 a {
  border-bottom: 2px solid #f4562f;
}

.about_video + .details-image__caption {
  margin-bottom: 45px;
}

@media only screen and (min-width: 1020px) {
  .about_video + .details-image__caption {
    margin-bottom: 95px;
  }
}

@media only screen and (min-width: 1020px) {
  .services__list .services__item {
    margin-bottom: 0;
  }
}

.services__list .services__item .caption__title {
  margin-top: 15px;
}

.about-social .about__link {
  font-size: 18px;
}

@media only screen and (min-width: 1020px) {
  .about-social .about__link {
    font-size: 22px;
  }
}

@media screen and (max-width: 679px) {
  .about__title--large {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 679px) {
  .about .about__description {
    margin-top: 0;
  }
}

.about__title .title__title {
  margin-bottom: 10px;
}

.details-image__wrapper_video {
  height: auto !important;
}

.details-image__wrapper_video .details-image__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.details-image__caption {
  margin-top: 15px !important;
}

.additional-services {
  position: relative;
  height: 375px;
  margin: 45px 0;
}

@media only screen and (min-width: 680px) {
  .additional-services {
    height: 436px;
  }
}

@media only screen and (min-width: 1020px) {
  .additional-services {
    height: 770px;
    margin: 95px 0;
  }
}

.additional-services .carousel {
  position: absolute;
  height: 375px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  width: 100vw;
}

@media only screen and (min-width: 680px) {
  .additional-services .carousel {
    height: 436px;
  }
}

@media only screen and (min-width: 1020px) {
  .additional-services .carousel {
    height: 770px;
  }
}

.additional-services .carousel__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 375px;
}

@media only screen and (min-width: 680px) {
  .additional-services .carousel__image {
    height: 436px;
  }
}

@media only screen and (min-width: 1020px) {
  .additional-services .carousel__image {
    height: 770px;
  }
}

.additional-services .carousel__image-wrapper {
  max-width: none;
  max-height: none;
  width: 100%;
}

.additional-services .carousel__controls {
  display: block;
  position: absolute;
  padding: 0;
  right: 50px;
  bottom: 50px;
}

@media only screen and (min-width: 1020px) {
  .additional-services .carousel__controls {
    right: 50px;
  }
}

@media only screen and (min-width: 1370px) {
  .additional-services .carousel__controls {
    right: 50%;
    -webkit-transform: translateX(635px);
            transform: translateX(635px);
  }
}
/*# sourceMappingURL=case-study-detail.css.map */